.service-title {
  max-width: 100%;
}
.update_theme_card {
  border: 1px solid #ebedf2 !important;
  padding: 0px !important;
}
.update_theme_card .service-cover-img {
  margin-top: 0px !important;
  /*transition: background-size 1.5s cubic-bezier(0.22, 1, 0.36, 1);*/
}
.update_theme_card .service-cover-img::before {
  border-bottom: 1px solid #dad5d5;
}
.update_theme_card::after {
  box-shadow: none !important;
}
.update_theme_card:hover {
  border: 1px solid var(--primary-color) !important;
}
/*.update_theme_card:hover .service-cover-img{*/
/*  background-size: 110%;*/
/*}*/
.update_theme_card:hover .update-content h4 {
  color: var(--primary-color);
}
.update_theme_card .update-content {
  height: 38% !important;
}
